{% extends "base.html"%}

{% load crispy_forms_tags honeypot %}

{% block title %}Password reset {{ block.super }}{% endblock %}

{% block content %}
    <div class="container">
        <div id="pass-reset-form" class="offset-md-2 col-md-8">
            <h2>Password reset</h2>
            <hr>
            <p>
                What is your email?
             </p>
           <form method="post">
               {% crispy form %}

               {% render_honeypot_field %}
               <input type="submit" name="reset" value="Reset my password" class="btn btn-primary btn-lg offset-md-3">
           </form>
        </div>
    </div>
{% endblock %}
