{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Password reset confirmation {{ block.super }}{% endblock %}

{% block content %}
{% if validlink %}
	<div class="row">
		<div class="offset-md-3 col-md-6">
			<h2>Change password</h2>
			<hr>
			<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    		{% crispy form %}
		</div>
	</div>
{% else %}
	<p class="text-danger">The password reset link was invalid, possibly because it has already been used.</p>
	<p>Please request for a new password reset.</p>
{% endif %}
{% endblock %}
