{% extends "base.html" %}

{% load assets %}

{% block title %}Searched positions {{ block.super }}{% endblock title %}

{% block content %}
    <div class="mt-3">
        <p>To see more information, tap or put the mouse over a marker</p>
        <div id="user-map" data-map-api-key="{{ map_api_key }}"></div>
    </div>
    {% include "main/partials/pagination.html" %}
{% endblock content %}
{% block extrascripts %}
    {% include "main/partials/user_searches.html" %}
    {% assets "search_list_map_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock extrascripts %}
